body {
  background-image: url("../images/image0.jpg");
  background-size: cover; 
  background-position: center; 
  background-color: rgba(0, 0, 0, 0.2);
}

/* Styles for the header */
header {
  background-color: #333;
  color: antiquewhite;
  padding: 20px;
  text-align: center;
}

/* Styles for the button container */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container button {
  background-color: #c8d5da;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.2s ease-in-out;
}

.button-container button:hover {
  background-color: #292929; 
}

.button-container button.active {
  background-color: #222;
}

/* Styles for content sections (initially hidden) */
.content-section {
  display: none; 
  padding: 20px;
}

/* Override hidden class behavior */
.content-section.hidden {
  display: block !important;
}

/* Styles for the "Add Property" section */
.content-section#track-properties form {
  display: flex; /* Arrange form elements in a row */
  flex-direction: column; /* Stack elements vertically */
  gap: 10px; /* Spacing between form elements */
}

.content-section#track-properties label {
  width: 100px; /* Adjust label width (optional) */
  text-align: left; /* Align labels to the right */
}

.content-section#track-properties button[type="submit"] {
  background-color: #4CAF50; /* Green color example */
  color: white;
  border: none; /* Remove default border */
  border-radius: 4px; /* Maintain rounded corners */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.content-section#track-properties button[type="submit"]:hover {
  background-color: #3e8e41; /* Darker green hover color */
}


.content-section#track-properties input[type="text"],
.content-section#track-properties input[type="number"],
.content-section#track-properties textarea {
  border-radius: 4px;
  padding: 5px;
  width: 100%; /* Adjust input width (optional) */
}

.content-section#track-properties label[for="location"],
.content-section#track-properties label[for="price"],
.content-section#track-properties label[for="description"] {
  color: #e91728; 
  font-size: larger;
  font-weight: bold; 
  margin-bottom: 5px; 
}

/* No specific styles needed for "Manage Properties & Applications" section yet */