body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 100vh;
}

.header-background {
    background: url('../images/image.jpg') center/cover no-repeat;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.header-content {
    padding: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #0f0000;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #b5d7ee
}


.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.property-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
}

.property-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.how-it-works-btn {
    background: linear-gradient(to right, #76a5a8, #112c36);
    color: #f3c1c1;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.how-it-works-btn:hover {
    background: linear-gradient(to right, #76a5a8,  #112c36);
    transform: scale(1.05);
}


.view-details-btn,
.search-btn {
    background-color: #6b85aa;
    color: #1b0b0b;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.view-details-btn:hover,
.search-btn:hover,
.view-details-btn:focus,
.search-btn:hover {
    background-color: #a9b8c8;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#regions-list {
    display: none;
}
.filters {
    margin-top: 20px;
}

.locations h3,
.property-type h4 {
    margin-bottom: 10px;
}

ul.popover {
    list-style: none;
    padding: 0;
}

ul.popover li {
    margin-bottom: 5px;
}

.Monthly-Budget h2 {
    margin-bottom: 5px;
}
